svg {
    cursor:pointer;
}
.general{
    display:flex;
    justify-content: center;
    
}

.postImg{
    width: auto;   
    height: 'auto';    
    object-fit: 'contain'
}

.mainContainer {
    width:1500px;
    transition: box-shadow 0.3s ease-in-out;
    margin-right:100px;
    
}
.MainHeading{
    margin-top:30px;
}
.title{
    max-width:900px;
}
.generalPostContainer{
    display:flex;
    justify-content:column;
    background:rgb(74, 68, 68);
    margin-bottom:100px;
   
    width:1300px;
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;

}
.postContainer{
    display: flex;
    width:1200px;
    flex-direction: column;
    justify-content: center;  /* Center horizontally */
    align-items: center; 
   text-align: center;

   
}
.generalPostContainer:hover {
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.4); 
}
.subredditSidebar
{
    margin-right:20px;
}
.authorLink{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width:150px;
    margin-left:550px;
}
.authorLink a{
    
}
.description{
    width:1240px;
}
.postComments {
    text-align:right;
}

.commentsContainer{
    display:flex;
    text-align:left;
    margin-left: 30px;
    padding-top: 20px;
    transition: box-shadow 0.3s ease-in-out;
    flex-direction:column;
}
.commentsContainer:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4); /* Increased spread and darker shadow */
}
.commentsAuthor{
    color:tomato;
}
.likesVideos{
    text-align:center;
    width:40px;
    margin-left:10px;
    margin-top:10px;
    margin-right:10px;
  
}

.likesVideosH3{
    margin-right:110px !important
}
.likes{
    text-align:center;
    width:10px;
    margin-left:30px;
    margin-top:10px;



}

.svgs{
    display:flex;
    justify-content: flex-end;  /* Aligns content to the right */
    align-items: center; 
    fill: black; 
}
.svgs svg:active {
    fill: red;  /* Change to red on click */
}

.svgsImage
{
    cursor: pointer;
  
}

.commentNumber{
    margin-left:5px;
}

/* Target the SVGs inside the upArrow and downArrow classes */
